# Ignorar archivos de metadatos de macOS (AppleDouble)
**/._*

# Archivos de sistema específicos
.DS_Store
.AppleDouble
.LSOverride

# Evitar que se ignoren carpetas reales pero sí sus metadatos internos
!**/img/
!**/icons/